{% extends "mastergame/layout.html" %}
{% block body %}
    
    {% if user.is_authenticated %}
        <h1> &nbsp;Welcome, {{ request.user }}</h1>
    {% else %}
        <h1> &nbsp;Welcome, Guest</h1>
    {% endif %}

    <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ now }}</h5>

    <main class="container p-5">
    <h2> Add a task</h2>
    <form action="{% url 'mastergame:add' %}" method="post">
        {% csrf_token %}
        <!-- <input type="text" name="task"> -->
        {{ form }}
        <input type="submit">
    </form>
    
    <p></p>

    {% for task in tasks %}
        <li>{{ task }} </li>
    {% empty %}
        <li>No tasks.</li>
    {% endfor %}
</main>
{% endblock %}