{% extends "mastergame/layout.html" %}
{% load static %}


{% block body %}
<main class="container p-5">
<table>
    <tr>
        <th>Ranking</th>
        <th>Username</th>
        <th>Score</th>
    </tr>
    <tr>
        <td>1</td>
        <td> Johnny </td>
        <td> 20 </td>
    </tr>
    <tr>
        <td>2</td>
        <td> Francisco </td>
        <td>15</td>
    </tr>
    <tr>
        <td>3</td>
        <td> James </td>
        <td>9</td>
    </tr>
</table>
</main>

{% endblock %}






